---
---
@charset "utf-8";

// The front of the Minima theme, replicated here under MIT license, and modified quite a bit.

$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$head-font-family: "Teko", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #154881 !default;
$white-text:       $background-color;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;
$table-text-align: left !default; 

$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

// Import partials.
@import
    "minima/base",
    "minima/layout",
    "minima/syntax-highlighting"
;

.site-header {
    border: 0;
    background-color: $brand-color;
    min-height: $spacing-unit * 2.5;
    @include media-query($on-palm) {
        min-height: $spacing-unit * 1.865;
    }

}

.site-logo {
    height: $spacing-unit * 2.5 - 8;
    padding: 4px;
    float: left;
    @include media-query($on-palm) {
        height: $spacing-unit * 1.865 - 8;
    }
}

.site-title {
    font-family: $head-font-family;
    position: relative;
    left: -20px;
    top: 25px;
    letter-spacing: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 54px;
    @include media-query($on-palm) {
        font-size: 26px;
        left: -16px;
        top: 12px;
    }
    &, &:visited {
        color: $white-text; // MODIFIED
    }
}

.site-nav {
    line-height: 75px;
    .page-link {
        color: $white-text;
    }
    @include media-query($on-palm) {
        background-color: $brand-color;
        .menu-icon > svg path {
          fill: $background-color;
        }
    }
}

header, footer {
    .wrapper {
        max-width: 1140px;
        max-width: 1140px;
    }
}

#committee {
    text-align: center;
}
.committee-member {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    width: 200px;
    .headshot {
        height: 200px;
        width: 200px;
    }
    .committee-name {
        font-size: 1.5em;
    }
    p {
        margin-bottom:0px;
    }
    .committee-links a {
        &:link, &:visited {
            color: $brand-color;
        }
        &:hover {
            color: darken($brand-color, 40%);
        }
       font-size: 1.4em;
       padding: 0.2em;
    }
}
