---
layout: default
---

<article class="post sidebarpage-main">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>

<aside class="sidebarpage-sidebar">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FComputingSoc%2F&tabs=events&width=375&height=369&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1090585884373967" width="375" height="369" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</aside>
